# Uncomment and restart repl to host in prod mode
#run = 'npx nodemon -x "npm start || npm start"'

run = "npm run dev"

hidden=['.git', '.config', '.next', 'boot.sh', '.eslintrc.json', '.gitignore', 'next-env.d.ts', 'next.config.mjs', 'tsconfig.json']

[nix]
channel = "stable-22_11"

[env]
XDG_CONFIG_HOME = "/home/runner/.config"

[packager]
language = "nodejs"

  [packager.features]
  packageSearch = false
  guessImports = false
  enabledForHosting = false

[unitTest]
language = "nodejs"

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

  [languages.javascript.languageServer]
  start = [ "typescript-language-server", "--stdio" ]
