    <strong>2016 - 2018</strong>
    <ul><li>Discovered Programming on<a target="_blank" href="https://khanacademy.org">Khan Academy</a></li>
<li>Built numerous small browser-based games with<a target="_blank" href="https://gotoloop.github.io/processing-js.github.io/">processing.js</a></li>
<li>Learned the basics of HTML, CSS, and DOM manipulation with JQuery</li></ul>
    <strong>2018-2020</strong>
    <ul><li>Learned the fundamentals of HTML/CSS from<a target="_blank" href="https://freecodecamp.org">Freecodecamp</a></li>
<li>Learned how to make Fullstack applications with Flask and Node from<a target="_blank" href="https://codecademy.com">Codecademy</a></li>
<li>Built some HTML/CSS/JS + Flask/Node fullstack projects that didn't get much traction</li>
<li>Rolled my own auth various times</li></ul>
    <strong>2020 - 2022</strong>
    <ul><li>Found<a target="_blank" href="https://replit.com">Replit</a> and used it to share and host my projects</li>
<li>Continued to build various small web projects and browser-based games with HTML/CSS/JS</li>
<li>Participated in Replit's first official game jam</li>
<li>Applied for an internship at<a target="_blank" href="https://replit.com">Replit</a> (I flunked the interview)</li></ul>
    <strong>Jan 2022 - Aug 2022</strong>
    <ul><li>Got an internship at<a target="_blank" href="https://saasbox.net">Saasbox</a></li>
<li>Learned Next.js and React</li>
<li>Built various small web projects with Next.js</li>
<li>Joined<a target="_blank" href="https://replit.com">Replit</a>'s Community Moderation team</li>
<li>Did some contract work on Anti-Abuse tools for<a target="_blank" href="https://replit.com">Replit</a>'s Trust and Safety team</li>
<li>Learned Typescript</li>
<li>Built some Next.js + Typescript projects</li></ul>
    <strong>Aug 2022 - August 2023</strong>
    <ul><li>Joined<a target="_blank" href="https://replit.com">Replit</a> as a Support Engineer</li>
  <li>Scaffolded, prototyped, built, and improved anti-abuse tools</li>
  <li>Built multiple internal support tools</li>
  <li>Redesigned and wrote large portions of the Replit Docs</li>
  <li>Actively maintained the open source<a target="_blank" href="https://github.com/replit/extensions">Extensions API Client ↗</a></li>
  <li>Eventually got fired for multiple HR violations (got too political on twitter)</li>
<li>Attended the <a target="_blank" href="https://btcpp.dev">Bitcoin++</a> conference for the first time</li>
<li>Built some viral AI/Langchain projects around the release of OpenAI's text-davinci-003</li></ul>
    <strong>Nov 2023 - Jan 2024</strong>
    <ul><li>Joined<a target="_blank" href="https://fedi.xyz">Fedi</a> as a Frontend Software Engineer</li>
  <li>Prototyped multiple small websites that interact with the Fedi API</li>
  <li>Wrote a large portion of the Fedi Documentation</li>
  <li>Performed extinsive work on the Fedi App and PWA</li>
  <li>Indepentently built major features in the Fedi App</li>
  <li>Traveled the world to attend large bitcoin-related conferences with the Fedi team</li>
<li>Switched from VSC*de to Neovim</li></ul>
    <strong>Jan 2024 - Dec 2024</strong>
    <ul><li>Attended multiple tech conferences around the world</li>
<li>Went from being an introvert to a more outgoing person</li>
<li>Grew a large audience on<a target="_blank" href="https://x.com/IroncladDev">X / Twitter</a></li>
<li>Built various web projects with Next.js, Tailwind, and Framer Motion</li>
<li>Started contributing to various open source projects</li></ul>
    <strong>Jan 2025 - June 2026</strong>
    <ul>
<li>Redesigned my website and rebranded</li>
<li>Migrated from Next/Tailwind to Astro/CSS/JS</li>
<li>Launched<a target="_blank" href="https://webtui.ironclad.sh">WebTUI</a></li></ul>
