---
import ShellCommand from '@/components/ShellCommand/index.astro'
---

<column id="ssh-process">
    <ShellCommand id="ssh">
        <span slot="initial-pre-command">ssh ironclad.sh</span>
        <column id="ssh-content">
            <span
                >The authenticity of host <mark fg-="green-fg"
                    ><strong>'ironclad.sh'</strong></mark
                > is <em><mark fg-="blue-fg-dim">almost</mark></em> established.</span
            >
            <span
                >Are you sure you want to continue connecting (yes/<strike
                    >no</strike
                >/[fingerprint])?</span
            >
            <row gap-="1">
                <button id="yes-button">yes</button>
                <button variant-="background2" disabled>no</button>
                <button id="fingerprint-button" variant-="background2"
                    >[fingerprint]</button
                >
            </row>
        </column>
    </ShellCommand>
</column>

<style is:global>
    #ssh-process {
        display: none;
    }

    :has(info-state[data-page='ssh']) {
        #ssh-process {
            display: flex;
        }
    }
</style>
