<column id="timeline-output" self-="grow">
    <span class="cmd-prompt" id="pre-timeline-prompt">
        <span class="host">user@ironclad.sh:~$</span>
        <span>timeline</span>
    </span>
    <column id="timeline-content" self-="grow">
        <column id="timeline-stuff" self-="grow !basis" gap-="1">
            <column>
                <h2>
                    <strong>Support Engineer</strong>
                    <span>|</span>
                    <a href="https://replit.com">Replit</a>
                </h2>
                <span class="date-marker">[Aug 2022 - August 2023]</span>
                <ul marker-="open tree">
                    <li>Built multiple internal support tools</li>
                    <li>Prototyped, built, and improved anti-abuse tools</li>
                    <li>Redesigned the Documentation</li>
                    <li>Documented various areas of the product</li>
                    <li
                        >Maintained the open source <a
                            target="_blank"
                            href="https://github.com/replit/extensions"
                            >Extensions API Client ↗</a
                        ></li
                    >
                    <li
                        >Attended the <a
                            target="_blank"
                            href="https://btcpp.dev">Bitcoin++</a
                        > conference for the first time</li
                    >
                    <li
                        >Built some viral AI/Langchain projects around the
                        release of OpenAI's text-davinci-003</li
                    >
                </ul>
                <strong>Outside work</strong>
                <ul marker-="open tree">
                    <li
                        >Attended <a href="https://btcpp.dev" target="_blank"
                            >Bitcoin++</a
                        > (Austin, TX) for the first time</li
                    >
                    <li
                        >Built some viral Langchain projects shortly after
                        text-davinci-003 was released</li
                    >
                </ul>
            </column>

            <column>
                <h2>
                    <strong>Frontend & Mobile Engineer</strong>
                    <span>|</span>
                    <a href="https://fedi.xyz" target="_blank">Fedi</a>
                </h2>
                <span class="date-marker">[Nov 2023 - Jun 2026]</span>
                <ul marker-="open tree">
                    <li>
                        <span
                            >Owned and helped build many core features including</span
                        >
                        <a
                            href="https://support.fedi.xyz/hc/en-us/articles/20019791912466-What-is-Multispend"
                            >Multispend</a
                        >,
                        <a href="https://catalog.fedi.xyz">Mini Apps Catalog</a
                        >,
                        <a
                            href="https://fedi.xyz/blog/create-your-community-in-minutes-introducing-the-community-generator"
                            >Spaces Generator</a
                        >,
                        <a href="https://lngpt.vercel.app"
                            >(Lightning) AI Assistant</a
                        >, developer APIs, the in-app wallet, secure e2e
                        encrypted chat, payments, and more
                    </li>
                    <li
                        >Assisted with comprehensive automated testing coverage</li
                    >
                    <li>
                        Maintained and improved the Mobile App and web version
                    </li>
                    <li
                        >Traveled the world to attend bitcoin-related
                        conferences and offsites with the Fedi team</li
                    >
                    <li
                        >Talked to, onboarded, and assisted new users in-person</li
                    >
                </ul>
                <li>
                    <strong>Outside work </strong>
                    <ul marker-="open tree">
                        <li>Switched from VSC*de to Neovim</li>
                        <li
                            >Attended lots of tech conferences around the
                            country</li
                        >
                        <li>Contributed to various open source projects</li>
                        <li
                            >Launched <a
                                target="_blank"
                                href="https://webtui.ironclad.sh">WebTUI</a
                            >, which reached the front page of Hacker News and
                            got 2K+ github stars</li
                        >
                    </ul>
                </li>
            </column>
        </column>
        <span id="end-indicator"
            >:<span id="end-scroll">█</span><span id="end-end">(END)</span
            ></span
        >
        <button id="back-button" variant-="background2">[Esc] Back</button>
    </column>
    <span class="cmd-prompt" id="post-timeline-prompt">
        <span class="host">user@ironclad.sh:~$</span>
        <span></span>
    </span>
</column>

<style>
    #timeline-stuff {
        overflow-y: auto;
        align-items: flex-start;

        h2 {
            color: var(--green-fg);
            font-weight: bold;
            &::before {
                content: '## ';
            }
        }

        .date-marker {
            color: var(--blue-fg);
            margin-left: 1ch;
        }

        ul {
            padding-left: 1ch;
            li {
                color: var(--foreground0);
                &::before {
                    color: var(--blue-fg);
                }
            }
        }
    }

    #timeline-content {
        width: 100%;
        max-width: var(--max-reading-width);
    }

    #post-timeline-prompt {
        display: none;
    }

    #timeline-output {
        display: none;
    }

    #end-end {
        display: none;
        color: var(--root);
        background-color: var(--foreground0);
    }
    #end-scroll {
        display: inline-flex;
    }

    html:has(info-state[data-focus='timeline']) #timeline-output {
        display: flex;
    }
</style>

<script>
    import AppStateListener from '@/utils/state'
    import { waitFor } from '@/utils/time'

    const backButton: HTMLButtonElement =
        document.querySelector('#back-button')!
    const infoState: HTMLElement = document.querySelector('info-state')!
    const timelineStuff: HTMLDivElement =
        document.querySelector('#timeline-stuff')!
    const endEnd: HTMLSpanElement = document.querySelector('#end-end')!
    const endScroll: HTMLSpanElement = document.querySelector('#end-scroll')!
    const postTimelinePrompt: HTMLSpanElement = document.querySelector(
        '#post-timeline-prompt',
    )!
    const endIndicator: HTMLSpanElement =
        document.querySelector('#end-indicator')!

    function reset() {
        postTimelinePrompt.style.display = 'none'
        endIndicator.style.display = 'inline-flex'
        backButton.style.display = 'inline-flex'
        timelineStuff.style.overflowY = 'auto'
    }

    timelineStuff.addEventListener('scroll', () => {
        const isScrolledToBottom =
            Math.abs(
                timelineStuff.scrollTop +
                    timelineStuff.clientHeight -
                    timelineStuff.scrollHeight,
            ) <= 2 || timelineStuff.scrollHeight < timelineStuff.clientHeight

        if (isScrolledToBottom) {
            endEnd.style.display = 'inline-flex'
            endScroll.style.display = 'none'
        } else {
            endEnd.style.display = 'none'
            endScroll.style.display = 'inline-flex'
        }
    })

    backButton.onclick = async () => {
        postTimelinePrompt.style.display = 'flex'
        endIndicator.style.display = 'none'
        backButton.style.display = 'none'
        timelineStuff.style.overflowY = 'hidden'
        await waitFor(500)
        infoState.setAttribute('data-page', 'fastfetch')
    }

    function attachKeyListeners(e: KeyboardEvent) {
        if (e.key === 'q' || e.key === 'Escape') {
            backButton.focus()
            backButton.click()
        }
    }

    new AppStateListener('info-state').on('data-page', ({ value }) => {
        if (value === 'timeline') {
            reset()
            window.addEventListener('keydown', attachKeyListeners)
        } else window.removeEventListener('keydown', attachKeyListeners)
    })
</script>
