@layer base {
    :root {
        --root: #14131e;
        --surface0: #1f1d2d;
        --surface0-70: #1f1d2dbb;
        --surface0-85: #1f1d2dee;
        --surface1: #242336;
        --surface2: #353553;
        --surface3: #494764;
        --surface4: #555275;
        --foreground0: #c8d5f1;
        --foreground1: #949bb9;
        --foreground2: #747a9c;
        --blue-bg: #303849;
        --blue-bg-bright: #40495f;
        --blue-fg-dim: #8caad1;
        --blue-fg: #9abfe8;
        --purple-bg: #35334a;
        --purple-bg-bright: #464260;
        --purple-fg-dim: #9d97d3;
        --purple-fg: #b0a8eb;
        --pink-bg: #3e3149;
        --pink-bg-bright: #51405f;
        --pink-fg-dim: #c091d0;
        --pink-fg: #d9a1e8;
        --orange-bg: #423531;
        --orange-bg-bright: #564541;
        --orange-fg-dim: #cf9876;
        --orange-fg: #ebb17b;
        --green-bg: #3b3f37;
        --green-bg-bright: #4d5148;
        --green-fg-dim: #b3c48d;
        --green-fg: #c9de96;
        --red-bg: #402030;
        --red-bg-bright: #552b3f;
        --red-fg-dim: #ca5072;
        --red-fg: #e55376;
        --yellow-bg: #423c38;
        --yellow-bg-bright: #564e4a;
        --yellow-fg-dim: #cdbb91;
        --yellow-fg: #e9d39c;
    }
}
