@layer base, utils, components;

@import '@webtui/css/base.css';
@import '@webtui/css/utils/box.css';
@import '@webtui/css/components/button.css';
@import '@webtui/css/components/typography.css';
@import '@webtui/css/components/badge.css';
@import '@webtui/css/components/separator.css';

@import '@/styles/flexbox.css';
@import '@/styles/padding.css';
@import '@/styles/colors.css';
@import '@webtui/plugin-nf';

@font-face {
    font-family: 'JetBrainsMonoNFM';
    src:
        local('JetBrainsMonoNerdFontMono-Regular'),
        url('/fonts/JetBrainsMonoNerdFontMono-Regular.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'JetBrainsMonoNFM';
    src:
        local('JetBrainsMonoNerdFontMono-Bold'),
        url('/fonts/JetBrainsMonoNerdFontMono-Bold.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: bold;
}

@layer base {
    :root {
        /* Colors */
        --background0: var(--surface0);
        --background1: var(--surface1);
        --background2: var(--surface2);
        --background3: var(--surface3);

        --font-size: 18px;
        --line-height: 1.4;

        /* Spacing/Sizes */
        --max-reading-width: 80ch;
    }

    @media (max-width: 720px) {
        :root {
            --font-size: 16px;
        }
    }

    @media (max-width: 400px) {
        :root {
            --font-size: 14px;
        }
    }

    * {
        font-family: 'JetBrainsMonoNFM', Monaco, monospace;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    html,
    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: var(--root);
        color: var(--foreground0);
        letter-spacing: 0px;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
    }
}

/* Typography */
@layer components {
    a[is-='button'] {
        color: var(--blue-fg-dim);
        text-decoration-color: var(--blue-fg-dim);
    }

    a:not([is-~='button']),
    p a:not([is-~='button']),
    li a:not([is-~='button']),
    [is-~='typography-block'] a:not([is-~='button']) {
        color: var(--link);
        background-color: var(--blue-bg);
        display: inline-flex;
        text-decoration-color: var(--blue-fg-dim);
        text-decoration-skip-ink: none;

        &::before {
            content: '[';
            white-space: pre;
        }
        &::after {
            content: ']';
            white-space: pre;
        }

        &[target='_blank']::after {
            content: ' ↗]';
        }

        &:hover {
            color: var(--blue-fg);
        }

        &:focus {
            color: var(--blue-fg);
            &::before {
                content: '>';
            }
            &::after {
                content: '<';
            }
            &[target='_blank']::after {
                content: ' ↗<';
                white-space: pre;
            }
        }
    }

    ul li::before {
        color: var(--foreground2);
    }

    hr {
        border: none;
        border-top: solid 1px var(--background2);
    }
}
