.tile {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
    border: solid 2px var(--green-fg-dim);
    display: none;
    animation-name: remove;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    overflow: hidden;
    min-height: 0;
    position: relative;

    &[data-screen] {
        opacity: 0.5 !important;

        html:has(navigation-state[data-focus='#']) &[data-screen='#'],
        html:has(navigation-state[data-focus='#info']) &[data-screen='#info'],
        html:has(navigation-state[data-focus='#projects'])
            &[data-screen='#projects'],
        html:has(navigation-state[data-focus='#links']) &[data-screen='#links'],
        html:has(navigation-state[data-focus='#opinions'])
            &[data-screen='#opinions'] {
            opacity: 1 !important;
        }
    }
}

.tile.initial {
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 1;
    animation-name: none;
}

@keyframes place {
    0% {
        display: flex;
        opacity: 0;
        width: 0;
        height: 0;
    }
    100% {
        display: flex;
        opacity: 1;
        width: 100%;
        height: 100%;
    }
}

@keyframes remove {
    from {
        display: flex;
        opacity: 1;
        width: 100%;
        height: 100%;
    }
    to {
        display: none;
        opacity: 0;
        height: 0;
        width: 0;
        margin: 0;
    }
}
