---
import { ScreenName } from '@/types/state'
---

<div screen-={ScreenName.Info} class="tile" id="tile-info">
    <span id="prompt">
        <span id="host">user@ironclad.sh:~$</span>
        <span id="fastfetch-cmd"></span>
        <span is-="spinner" variant-="block"></span>
    </span>
</div>

<style>
    #tile-info {
        background-color: var(--surface0-75);
    }

    #prompt {
        display: inline-flex;
        #host {
            color: var(--green-fg);
            padding-right: 1ch;
        }
    }
</style>

<script>
    import { ScreenName } from '@/types/state'
    import { tapSequence } from '@/utils/keyboard'
    import { waitFor } from '@/utils/time'

    window.addEventListener('site:navigate', async (e) => {
        if (e.detail.screen !== ScreenName.Info) return
        await waitFor(500)
        tapSequence('fastfetch', (seq) => {
            const cmdText = document.querySelector(
                '#fastfetch-cmd',
            ) as HTMLSpanElement

            cmdText.innerText += seq.originalKey
        })
    })
</script>
