---
import { ScreenName } from '@/types/state'

const e = null
---

<div screen-={ScreenName.Info} class="tile" id="tile-info">
    <span id="prompt">
        <span id="host">user@ironclad.sh:~$</span>
        <span id="fastfetch-cmd"></span>
        <span is-="spinner" variant-="block"></span>
    </span>
</div>

<style>
    #tile-info {
        background-color: var(--surface0-75);
    }

    #prompt {
        display: inline-flex;
        #host {
            color: var(--green-fg);
            padding-right: 1ch;
        }
    }
</style>

<script>
    import { ScreenName } from '@/types/state'
    import { tapSequence } from '@/utils/keyboard'

    const str = 'fastfetch'

    window.addEventListener('site:navigate', (e) => {
        if (e.detail.screen === ScreenName.Info) {
            tapSequence(
                [
                    ['tap', 'f'],
                    ['tap', 'a'],
                    ['tap', 's'],
                    ['tap', 't'],
                    ['tap', 'f'],
                    ['tap', 'e'],
                    ['tap', 't'],
                    ['tap', 'c'],
                    ['tap', 'h'],
                    ['tap', 'ret'],
                ],
                100,
                (_, index) => {
                    const cmdText = document.querySelector(
                        '#fastfetch-cmd',
                    ) as HTMLSpanElement

                    cmdText.innerText = str.slice(0, index + 1)
                },
            )
        }
    })
</script>
