---
import { ScreenName } from '@/types/state'
---

<div screen-={ScreenName.Info} class="tile" id="tile-info">
    <h1>About Me</h1>
</div>

<style>
    #tile-info {
        background-color: var(--background0);
    }
</style>

<script>

</script>
