---
import { ScreenName } from '@/types/state'
import FastfetchAbout from '@/components/Info/FastfetchAbout.astro'
import Timeline from '@/components/Info/Timeline.astro'
---

<div data-screen={ScreenName.Info} class="tile" id="tile-info">
    <column id="content">
        <span class="cmd-prompt" id="initial-prompt">
            <span class="host">user@ironclad.sh:~$</span>
            <span></span>
            <span id="prompt-cursor" is-="spinner" variant-="block"></span>
        </span>
        <FastfetchAbout />
        <Timeline />
    </column>
</div>

<style is:global>
    #initial-prompt {
        display: none;
    }

    html:has(info-state[data-focus='initial']) #initial-prompt {
        display: inline-flex;
    }
</style>

<style>
    #tile-info {
        background-color: var(--surface0-75);
        display: flex;
        flex-direction: column;
    }
    #content {
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 1lh 2ch;
    }
</style>

<script>
    import { tapSequence } from '@/utils/keyboard'
    import { waitFor } from '@/utils/time'
    import { ScreenName } from '@/types/state'
    import AppStateListener from '@/utils/state'

    new AppStateListener('info-state')
        .on('data-page', async ({ value, target }) => {
            if (target.getAttribute('data-is-transitioning') === 'true') return
            target.setAttribute('data-is-transitioning', 'true')

            if (value === 'fastfetch') {
                await clearPrompt()
                await handleDisplayFastFetch()
            } else if (value === 'timeline') {
                await clearPrompt()
                await handleDisplayTimeline()
            }

            target.setAttribute('data-is-transitioning', 'false')
        })
        .on('data-is-transitioning', ({ value }) => {
            if (value === 'true') {
                backButton.disabled = true
                readMoreButton.disabled = true
            } else {
                backButton.disabled = false
                readMoreButton.disabled = false
            }
        })

    new AppStateListener('navigation-state').on(
        'data-focus',
        async ({ value }) => {
            if (value !== ScreenName.Info) return

            handleDisplayFastFetch()
        },
    )

    const backButton: HTMLButtonElement =
        document.querySelector('#back-button')!
    const readMoreButton: HTMLButtonElement =
        document.querySelector('#read-more')!
    const promptCursor: HTMLSpanElement =
        document.querySelector('#prompt-cursor')!
    const initialPrompt: HTMLSpanElement =
        document.querySelector('#initial-prompt')!
    const postFastfetchPrompt: HTMLSpanElement = document.querySelector(
        '#post-fastfetch-prompt',
    )!
    const postTimelinePrompt: HTMLSpanElement = document.querySelector(
        '#post-timeline-prompt',
    )!

    const infoState: HTMLElement = document.querySelector('info-state')!

    const getCommandText = () => {
        return promptCursor.previousElementSibling as HTMLSpanElement
    }

    async function clearPrompt() {
        // Type command
        await waitFor(500)
        await tapSequence(
            'clear<CR>',
            (seq) => (getCommandText().innerText += seq.originalKey),
        )
        await waitFor(250)

        // Focus the initial prompt
        infoState.setAttribute('data-focus', 'initial')

        // Clear current prompt
        getCommandText().innerText = ''

        // Insert cursor in initial prompt
        initialPrompt.insertAdjacentElement('beforeend', promptCursor)

        // Clear the initial prompt
        getCommandText().innerText = ''
    }

    async function handleDisplayTimeline() {
        // Type command
        await waitFor(500)
        await tapSequence(
            'timeline<CR>',
            (seq) => (getCommandText().innerText += seq.originalKey),
        )
        await waitFor(250)

        // Focus and show timeline
        infoState.setAttribute('data-focus', 'timeline')

        // Insert cursor
        postTimelinePrompt.insertAdjacentElement('beforeend', promptCursor)
    }

    async function handleDisplayFastFetch() {
        // Type command
        await waitFor(500)
        await tapSequence(
            'fastfetch<CR>',
            (seq) => (getCommandText().innerText += seq.originalKey),
        )
        await waitFor(250)

        // Focus and show fastfetch
        infoState.setAttribute('data-focus', 'fastfetch')

        // Show fastfetch
        postFastfetchPrompt.insertAdjacentElement('beforeend', promptCursor)

        // Focus Back button
        readMoreButton.focus()
    }
</script>
