---
import { ScreenName } from '@/types/state'
import FastfetchAbout from '@/components/Info/FastfetchAbout.astro'
import SshInteractive from '@/components/Info/SshInteractive.astro'
import Empty from '@/components/Info/Empty.astro'
---

<div data-screen={ScreenName.Info} class="tile" id="tile-info">
    <info-state data-page="empty" data-focus="empty"></info-state>
    <column class="content">
        <Empty />
        <SshInteractive />
        <FastfetchAbout />
    </column>
</div>

<script>
    import { canPlaySound, tapSequence } from '@/utils/keyboard'
    import { waitFor } from '@/utils/time'
    import AppStateListener from '@/utils/state'
    import type { KeyInteraction } from '@/utils/keys'

    const yesButton: HTMLButtonElement = document.querySelector('#yes-button')!
    const resumeButton: HTMLButtonElement =
        document.querySelector('#resume-button')!
    const promptCursor: HTMLSpanElement =
        document.querySelector('#prompt-cursor')!
    const postSshPrompt: HTMLSpanElement =
        document.querySelector('#post-ssh-prompt')!
    const postFastfetchPrompt: HTMLSpanElement = document.querySelector(
        '#post-fastfetch-prompt',
    )!
    const emptyPrompt: HTMLSpanElement =
        document.querySelector('#empty-prompt')!
    const infoState: HTMLElement = document.querySelector('info-state')!

    const cursorPageMap = {
        ssh: postSshPrompt,
        fastfetch: postFastfetchPrompt,
        empty: emptyPrompt,
    }

    window.addEventListener('load', async () => {
        if (canPlaySound()) {
            infoState.setAttribute('data-page', 'fastfetch')
        } else {
            infoState.setAttribute('data-page', 'ssh')
        }
    })

    new AppStateListener('info-state')
        .on('data-page', async ({ value, oldValue }) => {
            if (oldValue === 'ssh') {
                await clearPrompt()
            }

            if (value === 'fastfetch') {
                await handleDisplayFastFetch()
            } else if (value === 'ssh') {
                await handleDisplaySsh()
            }
        })
        .on('data-focus', ({ value }) => {
            if (!value) return

            const prompt = cursorPageMap[value as keyof typeof cursorPageMap]

            prompt.insertAdjacentElement('beforeend', promptCursor)
            getCommandText().innerText = ''
        })

    const getCommandText = () => {
        return promptCursor.previousElementSibling as HTMLSpanElement
    }

    const typedInteractionSequence = (seq: KeyInteraction[]) => {
        getCommandText().innerText = seq.map((s) => s.originalKey).join('')
    }

    async function clearPrompt() {
        // Type command
        await tapSequence('clear<CR>', {
            onType: typedInteractionSequence,
        })
        await waitFor(250)
        infoState.setAttribute('data-focus', 'empty')
    }

    async function handleDisplayFastFetch() {
        await tapSequence('fastfetch<CR>', {
            onType: typedInteractionSequence,
        })
        await waitFor(250)

        // Focus and show fastfetch
        infoState.setAttribute('data-focus', 'fastfetch')

        // Focus Back button
        resumeButton.focus()
    }

    async function handleDisplaySsh() {
        await tapSequence('ssh ironclad.sh<CR>', {
            onType: typedInteractionSequence,
        })
        await waitFor(250)

        // Focus and show ssh content
        infoState.setAttribute('data-focus', 'ssh')

        // Focus "yes" button
        yesButton.focus()
    }
</script>
