---
import { ScreenName } from '@/types/state'
---

<div data-screen={ScreenName.Splash} class="tile" id="tile-splash">
    <column id="content" gap-="1">
        <column>
            <button id="button" autofocus>&gt; Enter ironclad.sh &lt;</button>
            <p>Click or press a key to continue</p>
        </column>
        <span class="cmd-prompt">
            <span class="host">~/</span>
            <span id="ssh-cmd"></span>
            <span is-="spinner" variant-="block"></span>
        </span>
    </column>
</div>

<style>
    #content {
        text-align: left;
        justify-content: center;
        max-width: var(--max-reading-width);
    }
    #prompt {
        display: inline-flex;
        #host {
            color: var(--blue-fg);
            padding-right: 1ch;
        }
    }

    #tile-splash {
        flex-direction: column;
        gap: 1lh;
        align-items: center;
        justify-content: center;
        background-color: var(--surface0-70);
        display: flex;
        width: 100%;
        height: 100%;
        animation-name: none;
        transition: none;
    }
</style>

<script>
    import { tapSequence } from '@/utils/keyboard'
    import { waitFor } from '@/utils/time'

    const button = document.querySelector('#button') as HTMLButtonElement
    const cmdText = document.querySelector('#ssh-cmd') as HTMLSpanElement

    let isProceeding = false

    async function proceed() {
        if (isProceeding) return

        isProceeding = true
        button.disabled = true
        await tapSequence('ssh ironclad.sh<CR>', {
            onType(seq) {
                cmdText.innerText = seq.map((s) => s.originalKey).join('')
            },
        })
        await waitFor(250)
        window.dispatchEvent(new Event('hashchange'))
        await waitFor(3000)
        button.disabled = false
    }

    button.addEventListener('click', proceed)
    button.addEventListener('keyup', proceed)
</script>
