---
import { ScreenName } from '@/types/state'
---

<div screen-={ScreenName.Splash} class="tile initial" id="tile-splash">
    <column id="content" gap-="1">
        <column>
            <button id="button" autofocus>&gt; Enter ironclad.sh &lt;</button>
            <p>Click or press a key to continue</p>
        </column>
        <span class="cmd-prompt">
            <span class="host">~/</span>
            <span id="ssh-cmd"></span>
            <span is-="spinner" variant-="block"></span>
        </span>
    </column>
</div>

<style>
    #content {
        text-align: left;
        justify-content: center;
        max-width: var(--max-reading-width);
    }
    #prompt {
        display: inline-flex;
        #host {
            color: var(--blue-fg);
            padding-right: 1ch;
        }
    }
    #tile-splash {
        flex-direction: column;
        gap: 1lh;
        align-items: center;
        justify-content: center;
        background-color: var(--surface0-75);
    }
</style>

<script>
    import { tapSequence } from '@/utils/keyboard'
    import { waitFor } from '@/utils/time'

    const button = document.querySelector('#button') as HTMLButtonElement

    let isProceeding = false
    let typedText = ''

    async function proceed() {
        if (isProceeding) return

        isProceeding = true
        button.disabled = true
        await tapSequence('ssh ironclad.sh<CR>', (seq) => {
            const cmdText = document.querySelector(
                '#ssh-cmd',
            ) as HTMLSpanElement

            typedText += seq.originalKey
            cmdText.innerText = typedText
        })
        await waitFor(500)
        window.dispatchEvent(new Event('hashchange'))
        await waitFor(3000)
        button.disabled = false
    }

    button.addEventListener('click', proceed)
    button.addEventListener('keyup', proceed)
</script>
