---
import Layout from '@/layouts/Layout.astro'
import Keyboard from '@/components/Keyboard.astro'
import '@/styles/tiling.css'
---

<Layout>
    <div id="wallpaper">
        <Keyboard />
    </div>
    <div id="tiles" class="layout">
        <div class="tile">tile</div>
    </div>
</Layout>

<style>
    #wallpaper {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #tiles {
        position: absolute;
        inset: 0;
        padding: 1lh 2ch;
    }
</style>

<script>
setTimeout(() => {
    const tileWrapper = document.createElement('column')
    tileWrapper.classList.add('layout')
    tileWrapper.id = 'tiles2'
    document.querySelector('#tiles').appendChild(tileWrapper)
    setInterval(() => {
        if(document.querySelector('#tiles2').childElementCount >= 3) return
        const newTile = document.createElement('div')
        newTile.classList.add('tile')
        newTile.innerHTML = 'tile'
        document.querySelector('#tiles2').appendChild(newTile)
    }, 1000)
}, 1000)
</script>
