---
import Layout from '@/layouts/Layout.astro'
import Keyboard from '@/components/Keyboard.astro'
import Waybar from '@/components/Waybar.astro'
import { ScreenName } from '@/types/state'
import '@/styles/tiling.css'

import Splash from '@/tiles/Splash.astro'
import Info from '@/tiles/Info.astro'
import Projects from '@/tiles/Projects.astro'
import Links from '@/tiles/Links.astro'
import Opinions from '@/tiles/Opinions.astro'
---

<Layout>
    <app-state screen-={ScreenName.Splash} focus-={ScreenName.Splash}
    ></app-state>
    <div id="wallpaper">
        <Keyboard />
    </div>
    <column id="screen">
        <Waybar />
        <div id="tiles" class="layout" pad-="2 1">
            <Splash />
            <Info />
            <Projects />
            <Links />
            <Opinions />
        </div>
    </column>
</Layout>

<style>
    #wallpaper {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        #keyboard {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    #tiles {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        opacity: 1;
        animation-name: none;
    }

    @media (max-width: 720px) {
        #tiles {
            flex-direction: column;
        }
    }

    #screen {
        position: absolute;
        inset: 0;
    }
</style>
