---
import '@/styles/global.css'
import '@/styles/resume.css'
---

<!doctype html>
<html lang="en-us" data-webtui-theme="osmium">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=0.5, minimum-scale=0.5, maximum-scale=3, user-scalable=yes"
        />
        <title>Conner Ow - Senior Frontend/Mobile Engineer</title>
    </head>
    <body>
        <row id="print-header" gap-="1" pad-="2 0" align-="center between">
            <span id="print-title"
                >Conner Ow - Senior Frontend_Mobile Engineer.pdf</span
            >
            <row gap-="1">
                <a
                    is-="button"
                    variant-="background2"
                    id="view-pdf-button"
                    href="/Conner Ow - Senior Frontend_Mobile Engineer.pdf"
                    target="_blank">[v]iew pdf ↗</a
                >
                <button id="print-button">[p]rint &#xf02f;</button>
            </row>
        </row>
        <column id="resume-body" self-="grow">
            <header is-="column" gap-="1">
                <row gap-="2">
                    <h1>Conner Ow</h1>
                    <row is-="separator" self-="grow"></row>
                    <span is-="mark" fg-="blue-fg-dim"
                        >Senior Frontend/Mobile Engineer</span
                    >
                    <row is-="separator" self-="grow"></row>
                    <a href="https://ironclad.sh">ironclad.sh</a>
                </row>
                <column gap-="1" pad-="2 0">
                    <p
                        >My philosophy for building software is <mark
                            fg-="pink-fg">beauty in simplicity</mark
                        >
                        whilst keeping <mark fg-="red-fg">chaos</mark> and <mark
                            fg-="red-fg">complexity</mark
                        > to a minimum.
                    </p>
                    <p
                        >I want <mark fg-="yellow-fg"
                            >your product or service</mark
                        >
                        to be <mark fg-="pink-fg">renowned</mark> for its <mark
                            fg-="pink-fg">speed</mark
                        >, <mark fg-="pink-fg">simplicity</mark>, and <mark
                            fg-="pink-fg">ease of use</mark
                        >.</p
                    >
                </column>
            </header>
            <main is-="column">
                <section>
                    <row align-="between" gap-="2">
                        <h2>Experience</h2>
                        <row is-="separator" self-="grow"></row>
                        <span>
                            <mark fg-="purple-fg">Aug 2022</mark>
                            -
                            <mark fg-="purple-fg">Jun 2026</mark>
                        </span>
                        <row is-="separator" self-="grow"></row>
                        <mark fg-="purple-fg">3.5 years</mark>
                    </row>
                    <column pad-="1 1">
                        <section box-="round" is-="column">
                            <row gap-="1" align-="between" pad-="1 0">
                                <row gap-="1">
                                    <h3>
                                        <mark fg-="yellow-fg"
                                            >Lead Maintainer</mark
                                        >
                                    </h3>
                                    <mark fg-="foreground2">•</mark>
                                    <a
                                        href="https://github.com/webtui/webtui"
                                        target="_blank"
                                        style="color: var(--green-fg)">
                                        WebTUI</a
                                    >
                                    <mark fg-="foreground2"
                                        >(<mark fg-="yellow-fg"
                                            >&#xf005; 2.4K+</mark
                                        >)</mark
                                    >
                                </row>
                                <span>
                                    <mark fg-="purple-fg">Apr 2025</mark>
                                    -
                                    <mark fg-="purple-fg">Present</mark>
                                </span>
                            </row>
                            <row is-="separator" cap-="bisect"></row>
                            <ul marker-="open round-tree" pad-="1 0">
                                <li>Created WebTUI as a hobby project</li>
                                <li
                                    >Researched and applied modern, advanced CSS
                                    techniques</li
                                >
                                <li
                                    >WebTUI is actively being maintained in an
                                    organized manner</li
                                >
                            </ul>
                        </section>
                        <section box-="round" is-="column">
                            <row gap-="1" align-="between" pad-="1 0">
                                <row gap-="1">
                                    <h3>
                                        <mark fg-="yellow-fg"
                                            >Mobile & Web Engineer</mark
                                        >
                                    </h3>
                                    <mark fg-="foreground2">•</mark>
                                    <a
                                        href="https://fedi.xyz"
                                        target="_blank"
                                        style="color: var(--foreground0)">
                                        Fedi</a
                                    >
                                </row>
                                <span>
                                    <mark fg-="purple-fg">Nov 2023</mark>
                                    -
                                    <mark fg-="purple-fg">Jun 2026</mark>
                                </span>
                            </row>
                            <row is-="separator" cap-="bisect"></row>
                            <ul marker-="open round-tree" pad-="1 0">
                                <li>
                                    <span>
                                        Lead and assisted building core features
                                        including
                                    </span>
                                    <a
                                        href="https://support.fedi.xyz/hc/en-us/articles/20019791912466-What-is-Multispend"
                                        target="_blank">Multispend</a
                                    >,
                                    <a
                                        href="https://catalog.fedi.xyz"
                                        target="_blank">Mini Apps Catalog</a
                                    >,
                                    <a
                                        href="https://fedi.xyz/blog/create-your-community-in-minutes-introducing-the-community-generator"
                                        target="_blank">Spaces Generator</a
                                    >,
                                    <a
                                        href="https://lngpt.vercel.app"
                                        target="_blank">AI Assistant</a
                                    >, developer APIs, the in-app wallet, secure
                                    e2e encrypted chat, payments, and more
                                </li>
                                <li
                                    >Maintained and improved the Mobile App and
                                    <a
                                        href="https://app.fedi.xyz"
                                        target="_blank">Web App</a
                                    ></li
                                >
                                <li
                                    >Traveled the world to attend
                                    bitcoin-related conferences with the team</li
                                >
                            </ul>
                        </section>
                        <section box-="round" is-="column">
                            <row gap-="1" align-="between" pad-="1 0">
                                <row gap-="1">
                                    <h3>
                                        <mark fg-="yellow-fg"
                                            >Support Engineer</mark
                                        >
                                    </h3>
                                    <mark fg-="foreground2">•</mark>
                                    <a
                                        href="https://replit.com"
                                        target="_blank"
                                        style="color: #FF764D">
                                        Replit</a
                                    >
                                </row>
                                <span>
                                    <mark fg-="purple-fg">Aug 2022</mark>
                                    -
                                    <mark fg-="purple-fg">Aug 2023</mark>
                                </span>
                            </row>
                            <row is-="separator" cap-="bisect"></row>
                            <ul marker-="open round-tree" pad-="1 0">
                                <li
                                    >Built and maintained internal support and
                                    anti-abuse tools</li
                                >
                                <li
                                    >Created workflows to reduce friction
                                    between users and support</li
                                >
                                <li
                                    >Documented early AI features and various
                                    product aspects</li
                                >
                            </ul>
                        </section>
                    </column>
                </section>
                <section>
                    <row gap-="1">
                        <h2>Skills</h2>
                        <row is-="separator" self-="grow"></row>
                        <mark fg-="foreground2"
                            >(real skills, not just markdown files)</mark
                        >
                    </row>
                    <column pad-="2 1" gap-="1">
                        <ul>
                            <li>
                                Languages:
                                <mark fg-="blue-fg" bg-="blue-bg"
                                    >&#xe749; CSS</mark
                                >,
                                <mark fg-="blue-fg" bg-="blue-bg"
                                    >&#xe8ca; TypeScript</mark
                                >,
                                <mark fg-="yellow-fg" bg-="yellow-bg"
                                    >&#xe781; JavaScript</mark
                                >,
                                <mark fg-="purple-fg" bg-="purple-bg"
                                    >&#xe620; Lua</mark
                                >,
                                <mark fg-="orange-fg" bg-="orange-bg"
                                    >&#xe7a8; Rust</mark
                                >,
                                <mark fg-="yellow-fg" bg-="yellow-bg"
                                    >&#xe73c; Python</mark
                                >,
                                <mark fg-="blue-fg" bg-="blue-bg"
                                    >&#xe706; SQL</mark
                                >
                            </li>
                            <li>
                                Packages:
                                <mark fg-="blue-fg" bg-="blue-bg"
                                    >&#xe7ba; React</mark
                                >,
                                <mark fg-="purple-fg" bg-="purple-bg"
                                    >&#xe7ba; React Native</mark
                                >,
                                <mark fg-="foreground0" bg-="background2"
                                    >&#xe83e; Next.js</mark
                                >,
                                <mark fg-="orange-fg" bg-="orange-bg"
                                    >&#xe83e; Astro</mark
                                >,
                                <mark fg-="foreground0" bg-="blue-bg"
                                    >&#xef04; HTMX</mark
                                >,
                                <mark fg-="foreground0" bg-="background2"
                                    >&#xe88c; Redux</mark
                                >,
                                <mark fg-="foreground0" bg-="background2"
                                    >&#xeefe; Jotai</mark
                                >,
                                <mark fg-="blue-fg" bg-="blue-bg">󰮊 Zod</mark>,
                                <mark fg-="foreground0" bg-="background2"
                                    >&#xe7d3; Express</mark
                                >
                            </li>
                            <li>
                                Databases:
                                <mark fg-="green-fg-dim" bg-="green-bg"
                                    >&#xe8b6; Supabase</mark
                                >,
                                <mark fg-="green-fg-dim" bg-="green-bg"
                                    >&#xe76e; PostgreSQL</mark
                                >,
                                <mark fg-="pink-fg" bg-="pink-bg"
                                    >&#xe7f4; GraphQL</mark
                                >,
                                <mark fg-="blue-fg" bg-="blue-bg"
                                    >&#xe7c4; SQLite</mark
                                >,
                                <mark fg-="green-fg-dim" bg-="green-bg"
                                    >&#xe7a4; MongoDB</mark
                                >
                            </li>
                            <li>
                                Tools:
                                <mark fg-="green-fg-dim" bg-="green-bg"
                                    >&#xf36f; Neovim</mark
                                >,
                                <mark fg-="foreground0" bg-="background2"
                                    >&#xe702; Git</mark
                                >,
                                <mark fg-="blue-fg" bg-="blue-bg"
                                    >󱗆 Jujutsu (jj)</mark
                                >
                                <mark fg-="orange-fg" bg-="orange-bg"
                                    >&#xf51d; OpenCode</mark
                                >
                            </li>
                        </ul>
                    </column>
                    <footer is-="column">
                        <row gap-="1">
                            <h2>Reach Out</h2>
                            <row is-="separator" self-="grow"></row>
                        </row>
                        <column pad-="1 1">
                            <row gap-="2" align-="between" pad-="1 0">
                                <span>Email</span>
                                <row is-="separator" self-="grow"></row>
                                <a href="mailto:conner@ironclad.sh"
                                    >conner@ironclad.sh</a
                                >
                            </row>
                            <row gap-="2" align-="between" pad-="1 0">
                                <span>Signal</span>
                                <row is-="separator" self-="grow"></row>
                                <a
                                    href="https://signal.me/#eu/36E3b48gh-bGeLWnxgNERMFW4315Pdtjmu3-vcqKZ8Bs0WSY-HpEGZ-qmGgAa5gV"
                                    >IroncladDev.62</a
                                >
                            </row>
                            <row gap-="2" align-="between" pad-="1 0">
                                <span>Phone (text)</span>
                                <row is-="separator" self-="grow"></row>
                                <a href="tel:+19036406634">+1(903)-640-6634</a>
                            </row>
                        </column>
                    </footer>
                </section>
            </main>
        </column>
        <script>
            import { $ } from '@/utils/dom'

            const printButton = $<'button'>('print-button')
            const viewPdfButton = $<'a'>('view-pdf-button')

            printButton?.addEventListener('click', () => {
                window.print()
            })

            window.addEventListener('keydown', (e) => {
                if (e.key === 'p') {
                    printButton?.focus()
                    printButton?.click()
                }

                if (e.key === 'v') {
                    viewPdfButton?.focus()
                    viewPdfButton?.click()
                }
            })
        </script>
    </body>
</html>
