---
import Layout from '@/layouts/Layout.astro'
import Navbar from '@/components/Navbar.astro'
import Project from '@/components/Project.astro'
import VimNavigator from '@/components/VimNavigator.astro'
---

<Layout>
  <main id="top">
    <header id="showcase">
      <Navbar />
      <div id="header-content">
        <div>
          <h1># Showcase</h1>
          <p>
            All the presentable projects I&apos;ve made throughout the years
          </p>
          <hr />
          <p>This page is navigable with vim keybindings, btw</p>
          <ul>
            <li>
              <strong>J</strong> and <strong>K</strong> to scroll up and down
            </li>
            <li>
              <strong>H</strong> and <strong>L</strong> to navigate between slides
            </li>
          </ul>
        </div>
      </div>
    </header>

    <Project
      title="WebTUI"
      source="https://github.com/webtui/webtui"
      url="https://webtui.ironclad.sh"
      slides={{
        '/img/showcase/webtui/index.png': [
          'WebTUI is a Pure CSS Library that brings the beauty of Terminal UIs to the web',
          'By far, WebTUI is my most successful open source project to date',
        ],
        '/img/showcase/webtui/docs.png': [
          'The idea of using colored text and unicode characters to create a minimalistic but beautiful UI really appealed to me after being exposed to Neovim and other TUI tools',
          'I had already begun incorporating the style into various projects like [TehcCringe](https://tehccringe.com) and my website as well as various other hackathon projects',
        ],
        '/img/showcase/webtui/showcase.png': [
          'Upon releasing the library in mid-2025, it got over a million views, reached the front page of Hacker News, and gained a lot of hype around other web developers',
          'To this day, I&apos;m continuing to maintain and improve the library as well as build new projects with it to show people that TUIs can be beautiful and intuitive',
        ],
      }}
    />

    <Project
      title="Dotfiles"
      source="https://github.com/IroncladDev/dotfiles"
      slides={{
        '/img/showcase/nvim/index.png': [
          'Configs for various tools I use on a daily basis',
          'The repo is very well-maintained and poorly documented',
        ],
      }}
    />

    <Project
      title="TehcCringe"
      source="https://github.com/TehcCringe/TehcCringe"
      url="https://tehccringe.com"
      slides={{
        '/img/showcase/tehccringe/index.png': [
          'An open source satirical tech news site that cross-posts to [X / Twitter](https://x.con/TehcCringe) and [Bluesky](https://bsky.app/profile/tehccringe.bsky.social)',
          'Inspired by [The Babylon Bee](https://babylonbee.com) and [Uncyclopedia](https://uncyclopedia.com)',
        ],
        '/img/showcase/tehccringe/article.png': [
          'Anyone can open a Pull Request containing a new article or changes to the site',
          'Every time a Pull Request is merged, a github action will automatically wait for the site to deploy, then broadcast the article to the respective [X / Twitter](https://x.com/TehcCringe) and [Bluesky](https://bsky.app/profile/tehccringe.bsky.social) pages',
        ],
      }}
    />

    <Project
      title="Salvadoran Reclamation: MS-13"
      source="https://github.com/IroncladDev/salvadoran-reclamation"
      url="https://js13kgames.com/2024/games/salvadoran-reclamation-ms-13"
      slides={{
        '/img/showcase/salvadoran-reclamation/index.png': [
          'A shooter game where you play as a Salvadoran soldier reclaiming El Salvador from the MS-13 gangs under the command of President Nayib Bukele',
          'This was my entry for [JS13kGames](https://js13kgames.com) 2024, in which the theme was "Triskidephobia" (fear of the number 13)',
        ],
        '/img/showcase/salvadoran-reclamation/gameplay1.png': [
          'The catch with JS13K is that the bundle size of your game is limited to just 13kb',
          'At first progress seemed great, but then the limitation really started catching up to me',
        ],
        '/img/showcase/salvadoran-reclamation/gameplay2.png': [
          'On top of having a full-time job, I also had to work on my entry. I really burned myself out after working on this',
          'Despite the effort, I really enjoyed developing this game',
        ],
      }}
    />

    <Project
      title="LLM Arena"
      source="https://github.com/IroncladDev/llm-arena"
      slides={{
        '/img/showcase/llmarena/index.png': [
          'A tool where you can visualize, create, and share side-by-side LLM comparisons',
          '[Amjad Masad](https://x.com/amasad), the CEO and Founder of [Replit](https://replit.com) reached out to me and asked if I would be interested in building an idea of a side project he had',
          'He wanted a good way to visualize and compare the stats of different LLMs',
        ],
        '/img/showcase/llmarena/comparison.png': [
          'After selecting the initial LLMs on the main page, you will be taken to the comparison page where you can select different stats and customize the what the output looks like',
          'You can then copy the shareable link or download an image of the visualization',
        ],
        '/img/showcase/llmarena/login.png': [
          'I also built a contribution system where you could add and edit new and existing LLMs',
          'The auth system randomly broke in mid-2024, and since then the project has been unmaintained and left in the dust',
        ],
      }}
    />

    <Project
      title="Hyperdome"
      source="https://github.com/IroncladDev/HTMXBot"
      slides={{
        '/img/showcase/hyperdome/index.png': [
          'Hyperdome, short for "HTMX Thunderdome" is a chatbot with the humor of the legendary [CEO of HTMX](https://x.com/htmx_org)',
          'This was my first time building something with [HTMX](https://htmx.org) and [HyperScript](https://hyperscript.org)',
        ],
        '/img/showcase/hyperdome/presets.png': [
          'To start chatting, you would first select a character, each with a different personality',
          'And then go wild',
        ],
        '/img/showcase/hyperdome/chat.png': [
          'I collected a ton of information regarding the humor and lore of HTMX, used Supabase to store the vector data, and then had the models do a similarity search on the context before generating a response',
          'Way back when Replit was in startup mode, they made a deal with Google, allowing users to consume and use some lower-compute AI models for free',
          'As of late 2024, they&apos;ve axed the freely-available AI models, and now Hyperdome is broken',
        ],
      }}
    />

    <Project
      title="Liberty Cappy"
      url="https://libertycappy.com"
      slides={{
        '/img/showcase/cappy/index.png': [
          'I built this website for [Liberty Cappy](https://x.com/LibertyCappy), one of the Libertarian memers that radicalized me',
          'After subscribing to him on X/Twitter, I reached out to him and asked to build him a website in exchange for some visibility, to which he agreed',
        ],
        '/img/showcase/cappy/about.png': [
          'I had a lot of fun implementing the fancy scroll animations with Framer Motion, SVG, and HTML canvas',
          'As of late 2023, the client seems to have lost the password to his account and hasn&apos;t had time to reset it',
          'As a result I haven&apos;t been able to push out any updates. While it still stands, it&apos;s outdated',
        ],
      }}
    />

    <Project
      title="Agape Chiropractic TX"
      source="https://github.com/IroncladDev/AgapeChirow"
      url="https://agapechiro-tx.com"
      slides={{
        '/img/showcase/agape/index.png': [
          'The website for my dad&apos;s Chiropractic home business',
          'Built with Next.js, Emotion CSS, and Framer Motion',
        ],
        '/img/showcase/agape/services.png': [
          'Although it looks similar, this website predates the invention of ShadCN UI',
          'I also built it before I started using Tailwind CSS',
        ],
      }}
    />

    <Project
      title="Taime is Ticking"
      source="https://replit.com/@IroncladDev/TAIme-is-ticking"
      url="https://taime-is-ticking.replit.app"
      slides={{
        '/img/showcase/taime/index.png': [
          'A time-based dungeon crawler game made for the [Huggingface Open Source AI Game Jam](https://itch.io/jam/open-source-ai-game-jam) in 48 hours',
          'Kaboom.js v3000 had just been released and I was eager to try it out',
        ],
        '/img/showcase/taime/level.png': [
          'This game was heavily inspired by [Enter the Chronosphere](https://effort-star.itch.io/enter-the-chronosphere). Playtesting it and trying to get the timing engine to work properly was a huge challenge',
          'I had a lot of fun implementing the feature where you can deflect bullets',
        ],
        '/img/showcase/taime/bullets.png': [
          'I stayed up for about 30-32 hours out of 48 working on this game. One of the shortest jams I have ever participated in',
          'I didn&apos;t have enough time to work on my own graphics so I used Twemoji for the player and enemies',
        ],
      }}
    />

    <Project
      title="AmjadGPT"
      source="https://github.com/IroncladDev/Amjad-GPT"
      slides={{
        '/img/showcase/amjadGPT/index.png': [
          'A chatbot trained to act like [Amjad Masad](https://x.com/amasad), CEO and Founder of [Replit](https://replit.com) built with Langchain and Next.js',
          'I built this project in early 2023 when Langchain was just becoming a thing and developers were still struggling with conversation history',
        ],
        '/img/showcase/amjadGPT/login.png': [
          'I scraped a massive amount of data related to Replit, Amjad&apos;s blog, his tweets, and more to train the chatbot',
          'I initially built it with Python, since Langchain didn&apos;t have a typescript library, but quickly migrated to Typescript after langchain.js was released',
        ],
        '/img/showcase/amjadGPT/settings.png': [
          'In mid-2023, OpenAI removed text-davinci-003 from their API. I left it stagnant for a bit and then switched to use some free low-compute google-developed AI models being offered for free in Replit',
          'As of late 2024, Replit has axed the freely-available AI models, bringing AmjadGPT to an unusable state',
        ],
      }}
    />

    <Project
      title="Intercepter"
      source="https://replit.com/@IroncladDev/Intercepter"
      url="https://1ntercepter.replit.app/"
      slides={{
        '/img/showcase/intercepter/index.png': [
          'A top-down shooter game and one of the winners of Replit&apos;s Creator Fund hackathon in August 2022',
          'The gameplay was inspired by [Starblast.io](https://starblast.io) and the art style by [Ivan Dubovik](https://dribbble.com/search/ivan-dubovik-march-of-robots)',
        ],
        '/img/showcase/intercepter/gameplay1.png': [
          'The graphics and features were easy to make and implement',
          'Maintaining good performance was a challenge',
        ],
        '/img/showcase/intercepter/gameplay2.png': [
          'People loved the game when it was released and wanted more levels to play but I didn&apos;t have the capacity to add more',
          'I&apos;m relly happy how this one turned out',
        ],
      }}
    />

    <Project
      title="Tarragon"
      source="https://replit.com/@haroon/Tarragon"
      url="https://tarragon-game.replit.app/"
      slides={{
        '/img/showcase/tarragon/index.png': [
          'A game where you travel to different realms and fight enemies and bosses using your dragon&apos;s firey breath, powered by chili peppers',
          'Replit hosted a game jam in June 2022, in which I was one of the "mentors" (assistants) instead of a participant. This game is a collaboration between me and a few other mentors',
        ],
        '/img/showcase/tarragon/ice.png': [
          'The theme of the jam was the word "spicy", so we decided to make chili peppers a big part of the game',
          'I did all of the art, most of the game development, and less of the brainstorming',
        ],
        '/img/showcase/tarragon/fire.png': [
          'Designing all the sprites and animations for each different realm was really fun as art is something I enjoy but am not very good at',
        ],
      }}
    />

    <Project
      title="YouBarter"
      source="https://github.com/IroncladDev/yb2"
      url="https://www.youbarter.us"
      slides={{
        '/img/showcase/youbarter/index.png': [
          'A non-profit organization where people can create listings for goods and services and barter with each other',
          'My mom originally came up with the idea and I set out to build it',
        ],
        '/img/showcase/youbarter/login.png': [
          'And of course I rolled my own auth',
        ],
        '/img/showcase/youbarter/function.png': [
          'Creating a listing will place it on a map that people can browse',
          'There are no active users and the project has been left stagnant and unmaintained',
        ],
      }}
    />

    <Project
      title="KuhnHong.com"
      source="https://github.com/IroncladDev/KuhnHong"
      url="https://www.kuhnhong.com"
      slides={{
        '/img/showcase/kuhnhong/index.png': [
          'A website for a Korean artist who has created impressive oil paintings based of many places and people around the world',
          'The design approach I took on this site is unique among the other websites I&apos;ve worked on',
        ],
        '/img/showcase/kuhnhong/gallery.png': [
          'The gallery dynamically fetches images from a mongodb database (A huge mistake on my end making a database for a simple site)',
          'So does the blog page, which still has placeholder info',
        ],
        '/img/showcase/kuhnhong/preview.png': [
          'Paintings can be expanded and viewed individually from the gallery',
        ],
      }}
    />

    <Project
      title="All Metal Welding"
      source="https://github.com/IroncladDev/Metal"
      url="https://www.allmetalwelding.com"
      slides={{
        '/img/showcase/amw/index.png': [
          'A static Next.js website for a small family welding business',
        ],
      }}
    />

    <Project
      title="Orbitron Tower Defense"
      source="https://replit.com/@IroncladDev/Orbitron-3"
      url="https://orbitron-3.replit.app/"
      slides={{
        '/img/showcase/orbitron/index.png': [
          'An intense tower defense game where you fight off legions of aliens',
          'Built for a small coding competition hosted on Khan Academy with p5.js',
        ],
        '/img/showcase/orbitron/gameplay1.png': [
          'This is the third part to a series of tower defense games I called the "Orbitron" series. The previous two have been lost since I didn&apos;t know how to use Git at the time',
          'I liked the name "Orbitron" (originally the name of a google font) and decided to use it for my game. This game has no affiliation or relation to the font.',
        ],
        '/img/showcase/orbitron/gameplay2.png': [
          'I had a lot of fun drawing the game art and playtesting it',
          'I forget exactly how many waves are in the game. It&apos;s somewhere around 43',
        ],
      }}
    />

    <Project
      title="Face the Darkness"
      source="https://replit.com/@IroncladDev/face-the-darkness"
      url="https://face-the-darkness.replit.app"
      slides={{
        '/img/showcase/face-the-darkness/index.png': [
          'A simple platformer game where you use your parkour and fighting skills to guide the Centurion of Light through a dark world full of enemies',
        ],
        '/img/showcase/face-the-darkness/gameplay1.png': [
          'I remember having a lot of trouble implementing wall-jumping in the game, but ended up getting it to work',
          'You can attack enemies by shooting them and proceed to the next level by entering the portal',
        ],
        '/img/showcase/face-the-darkness/gameplay2.png': [
          'I don&apos;t remember much about the time I developed this, but it is one of my personal favorite projects I have built to this day',
        ],
      }}
    />

    <VimNavigator showHL />
  </main>
</Layout>

<style>
  main {
    background: var(--background0);
  }

  header {
    flex: none;
    display: flex;
    flex-direction: column;
    width: 100vw;
    scroll-snap-align: end;
    background: var(--root);

    #header-content {
      display: flex;
      gap: 16px;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      padding: 64px 16px;
      min-height: 25vh;

      div {
        max-width: var(--max-reading-width);
        display: flex;
        flex-direction: column;
        gap: 16px;

        h1 {
          color: var(--accent);
        }
      }
    }
  }
</style>

<script>
  import { attachScrollSnapListener } from '@/utils/scroll'

  attachScrollSnapListener(
    'showcase-project',
    (target) => {
      document.querySelectorAll('showcase-project').forEach((project) => {
        project.setAttribute('data-active', 'false')
      })

      target?.setAttribute('data-active', 'true')
    },
    '',
  )
</script>
