---
export interface Props {
    initial?: string
    id: string
}

const { initial, id } = Astro.props
---

<span class="cmd-prompt" {id}>
    <span class="host">user@ironclad.sh:~$</span>
    <span>{initial}</span>
    <slot />
</span>

<style is:global>
    .cmd-prompt {
        display: inline-flex;
        .host {
            color: var(--blue-fg);
            padding-right: 1ch;
        }
    }
</style>
