---
export interface Props {
    initial?: string
    id: string
    hasCursor?: boolean
}

const { initial, id, hasCursor } = Astro.props
---

<span class="cmd-prompt" {id}>
    <span class="host">user@ironclad.sh:~$</span>
    <span>{initial}</span>
    {hasCursor && <span id="prompt-cursor" is-="spinner" variant-="block" />}
</span>

<style is:global>
    .cmd-prompt {
        display: inline-flex;
        white-space: nowrap;
        .host {
            color: var(--blue-fg);
            padding-right: 1ch;
        }
    }
</style>
