---
interface Props {
  showHL?: boolean
}

const { showHL = false } = Astro.props as Props
---

<row gap-="1" align-="center" cap-="round" id="vim-navigation">
  <span>&#xe62b;</span>
  {
    showHL && (
      <button size-="sm" variant-="background3" id="btn-h">
        h
      </button>
    )
  }
  <button size-="sm" variant-="background3" id="btn-j">j</button>
  <button size-="sm" variant-="background3" id="btn-k">k</button>
  {
    showHL && (
      <button size-="sm" variant-="background3" id="btn-l">
        l
      </button>
    )
  }
</row>

<style>
  #vim-navigation {
    padding: 0 1ch;
    background-color: var(--background2);
    box-shadow: 1ch 0.5lh 0 0 var(--root);
    position: fixed;
    bottom: 1lh;
    right: 2ch;

    button[size-='sm'] {
      padding: 0 1ch;
    }
  }

  @media (max-width: 64ch) {
    #vim-navigation {
      display: none;
    }
  }
</style>

<script>
  const content = document.querySelector('main') as HTMLElement
  const buttonH = document.querySelector('#btn-h') as HTMLButtonElement
  const buttonJ = document.querySelector('#btn-j') as HTMLButtonElement
  const buttonK = document.querySelector('#btn-k') as HTMLButtonElement
  const buttonL = document.querySelector('#btn-l') as HTMLButtonElement

  buttonJ.addEventListener('click', () => content?.scrollBy(0, 1))
  buttonK.addEventListener('click', () => content?.scrollBy(0, -1))

  window.addEventListener('keydown', (event) => {
    if (event.key === 'h' || event.key === 'ArrowLeft') {
      event.preventDefault()
      buttonH.setAttribute('variant-', 'foreground1')
    } else if (event.key === 'l' || event.key === 'ArrowRight') {
      event.preventDefault()
      buttonL.setAttribute('variant-', 'foreground1')
    } else if (event.key === 'j' || event.key === 'ArrowDown') {
      event.preventDefault()
      buttonJ.setAttribute('variant-', 'foreground1')
    } else if (event.key === 'k' || event.key === 'ArrowUp') {
      event.preventDefault()
      buttonK.setAttribute('variant-', 'foreground1')
    }
  })

  window.addEventListener('keyup', (event) => {
    if (event.key === 'h' || event.key === 'ArrowLeft') {
      event.preventDefault()
      buttonH.setAttribute('variant-', 'background3')
      buttonH.click()
    } else if (event.key === 'l' || event.key === 'ArrowRight') {
      event.preventDefault()
      buttonL.setAttribute('variant-', 'background3')
      buttonL.click()
    } else if (event.key === 'j' || event.key === 'ArrowDown') {
      event.preventDefault()
      buttonJ.setAttribute('variant-', 'background3')
      buttonJ.click()
    } else if (event.key === 'k' || event.key === 'ArrowUp') {
      event.preventDefault()
      buttonK.setAttribute('variant-', 'background3')
      buttonK.click()
    }
  })
</script>
