<row id="waybar" gap-="1">
    <waybar-state data-route="/" style="display: none;"></waybar-state>
    <row id="workspaces" self-="grow">
        <a class="workspace" href="/">
            <span is-="badge">1</span>
            <span is-="badge" variant-="background2" cap-="square round"
                >Info</span
            >
        </a>
        <a class="workspace" href="/showcase">
            <span is-="badge">2</span>
            <span is-="badge" variant-="background2" cap-="square round"
                >Showcase</span
            >
        </a>
    </row>
    <row self-="!shrink">
        <a href="/resume" id="resume-desktop" style="color: var(--foreground1)"
            >View Resume</a
        >
        <a
            href="/Conner Ow - Senior Frontend_Mobile Engineer.pdf"
            id="resume-mobile"
            style="color: var(--foreground1)">View Resume</a
        >
    </row>
</row>

<style>
    #waybar {
        background-color: var(--surface1);
        padding: 0.5lh 1ch;
        align-items: center;
        #workspaces {
            flex-wrap: wrap;
            gap: 0 1ch;
        }
    }

    #resume-desktop {
        display: inline-flex;
    }

    #resume-mobile {
        display: none;
    }

    @media (max-width: 720px) {
        #resume-desktop {
            display: none;
        }
        #resume-mobile {
            display: inline-flex;
        }
    }

    .workspace {
        text-decoration: none;
        display: inline-flex;

        &:focus {
            text-decoration: underline;
            text-decoration-color: var(--foreground0);
        }

        & > span:first-child {
            --badge-color: var(--background3);
            color: var(--foreground0);
        }

        html:has(waybar-state[data-route='/']) &[href='/'],
        html:has(waybar-state[data-route^='/links']) &[href='/links'],
        html:has(waybar-state[data-route^='/showcase']) &[href='/showcase'] {
            & > span:first-child {
                --badge-color: var(--green-fg);
                color: var(--root);
            }
        }
    }

    @media (max-width: 480px) {
        .workspace span,
        .workspace span::before,
        .workspace span::after {
            height: 2lh;
            align-items: center;
        }

        .workspace span:first-child {
            border-top-left-radius: 4px;
            overflow: hidden;
        }

        .workspace span:last-child::after {
            border-bottom-right-radius: 0;
        }
    }
</style>

<script>
    const waybarState: HTMLElement = document.querySelector('waybar-state')!
    const workspaceLinks: NodeListOf<HTMLAnchorElement> =
        document.querySelectorAll('#workspaces a[href]')

    window.addEventListener('load', () => {
        waybarState.setAttribute('data-route', window.location.pathname)
    })

    window.addEventListener('keydown', (e) => {
        if (e.key === '1') workspaceLinks[0].click()
        else if (e.key === '2') workspaceLinks[1].click()
        else if (e.key === '3') workspaceLinks[2].click()
    })
</script>
