<row id="waybar" gap-="1">
    <waybar-state data-route="/"></waybar-state>
    <row id="workspaces">
        <a class="workspace" href="/">
            <span is-="badge">1</span>
            <span is-="badge" variant-="background2" cap-="square round"
                >Info</span
            >
        </a>
        <a class="workspace" href="/showcase.html">
            <span is-="badge">2</span>
            <span is-="badge" variant-="background2" cap-="square round"
                >Showcase</span
            >
        </a>
        <a class="workspace" href="/links.html">
            <span is-="badge">3</span>
            <span is-="badge" variant-="background2" cap-="square round"
                >Links</span
            >
        </a>
    </row>
</row>

<style>
    #waybar {
        background-color: var(--surface1);
        padding: 0.5lh 2ch;
        #workspaces {
            flex-wrap: wrap;
            gap: 0 1ch;
        }
    }

    .workspace {
        text-decoration: none;
        display: inline-flex;

        &:focus {
            text-decoration: underline;
            text-decoration-color: var(--foreground0);
        }

        & > span:first-child {
            --badge-color: var(--background3);
            color: var(--foreground0);
        }

        html:has(waybar-state[data-route='/']) &[href='/'],
        html:has(waybar-state[data-route='/links.html']) &[href='/links.html'],
        html:has(waybar-state[data-route='/showcase.html'])
            &[href='/showcase.html'] {
            & > span:first-child {
                --badge-color: var(--green-fg);
                color: var(--root);
            }
        }
    }
</style>

<script>
    const waybarState: HTMLElement = document.querySelector('waybar-state')!
    const workspaceLinks: NodeListOf<HTMLAnchorElement> =
        document.querySelectorAll('#workspaces a[href]')

    window.addEventListener('load', () => {
        waybarState.setAttribute('data-route', window.location.pathname)
    })

    window.addEventListener('keydown', (e) => {
        if (e.key === '1') workspaceLinks[0].click()
        else if (e.key === '2') workspaceLinks[1].click()
        else if (e.key === '3') workspaceLinks[2].click()
    })
</script>
