---
import { ScreenName } from '@/types/state'
---

<row id="waybar" gap-="1">
    <div id="icon"></div>
    <row id="workspaces">
        <a class="workspace" href={ScreenName.Info}>
            <span is-="badge">1</span>
            <span is-="badge" variant-="background2" cap-="square round"
                >Info</span
            >
        </a>
        <a class="workspace" href={ScreenName.Projects}>
            <span is-="badge">2</span>
            <span is-="badge" variant-="background2" cap-="square round"
                >Projects</span
            >
        </a>
        <a class="workspace" href={ScreenName.Links}>
            <span is-="badge">3</span>
            <span is-="badge" variant-="background2" cap-="square round"
                >Links</span
            >
        </a>
        <a class="workspace" href={ScreenName.Opinions}>
            <span is-="badge">4</span>
            <span is-="badge" variant-="background2" cap-="square round"
                >Opinions</span
            >
        </a>
    </row>
</row>

<style>
    #icon {
        height: 1lh;
        width: 2ch;
        background-image: url('/img/brand/svg/icon.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    #waybar {
        background-color: var(--surface1);
        padding: 0.5lh 2ch;
        #workspaces {
            flex-wrap: wrap;
            gap: 0 1ch;
        }
    }

    .workspace {
        text-decoration: none;
        display: inline-flex;

        & > span:first-child {
            --badge-color: var(--background3);
            color: var(--foreground0);
        }

        html:has(app-state[screen-='#info']) &[href='#info'],
        html:has(app-state[screen-='#projects']) &[href='#projects'],
        html:has(app-state[screen-='#links']) &[href='#links'],
        html:has(app-state[screen-='#opinions']) &[href='#opinions'] {
            & > span:first-child {
                --badge-color: var(--green-fg);
                color: var(--root);
            }
        }
    }
</style>

<script>
    import { ScreenName } from '@/types/state'
    import { openScreen } from '@/utils/navigation'

    const onHashChange = () => {
        const derivedScreen =
            Object.values(ScreenName).find(
                (name) => name === window.location.hash,
            ) ?? ScreenName.Info
        document
            .querySelector('app-state')
            ?.setAttribute('screen-', derivedScreen)
        openScreen(derivedScreen)
    }

    window.addEventListener('hashchange', onHashChange)
    window.addEventListener('keydown', (e) => {
        if (e.key === '1') window.location.hash = ScreenName.Info
        else if (e.key === '2') window.location.hash = ScreenName.Projects
        else if (e.key === '3') window.location.hash = ScreenName.Links
        else if (e.key === '4') window.location.hash = ScreenName.Opinions
    })
</script>
