<column pad-="2 1" gap-="1">
    <column gap-="1">
        <p
            >Hyperdome is an AI chatbot UI built in HTMX/Hyperscript that acts
            like the <a href="https://x.com/htmx_org">CEO of HTMX</a></p
        >
        <ul>
            <li>
                <strong>GitHub</strong>: <a
                    href="https://github.com/IroncladDev/HTMXBot"
                    target="_blank">https://github.com/IroncladDev/HTMXBot</a
                >
            </li>
        </ul>
    </column>

    <strong><mark fg-="green-fg-dim">Current Status</mark></strong>

    <column pad-="2 0" gap-="1">
        <p
            >As of <mark fg-="purple-fg">Oct 2024</mark>, Hyperdome has stopped
            working since Replit shut down their Modelfarm feature and it was no
            longer profitable to keep the project running. The repository has
            been archived on <mark fg-="purple-fg">Jun 22, 2026</mark></p
        >
    </column>

    <strong><mark fg-="green-fg-dim">History</mark></strong>

    <column pad-="2 0" gap-="1">
        <p
            ><mark fg-="purple-fg">Oct 2023</mark> - I spend a lot of time scraping
            and collecting information from the HTMX community on X to use as context
            for the bot</p
        >
        <p
            ><mark fg-="purple-fg">Nov 2023</mark> - I have a lot of fun experimenting
            with HTMX and Hypercript to build this chat. I launch the project and
            it gets a lot of attention from the HTMX community on X</p
        >
    </column>

    <strong><mark fg-="green-fg-dim">Technologies Used</mark></strong>

    <column pad-="2 0" gap-="1">
        <p
            ><mark fg-="foreground0" bg-="blue-bg">&#xef04; HTMX</mark>, <mark
                fg-="blue-fg"
                bg-="blue-bg">&#xe749; CSS</mark
            >, <mark fg-="blue-fg" bg-="blue-bg">&#xe8ca; TypeScript</mark>, <mark
                fg-="yellow-fg"
                bg-="yellow-bg">&#xe781; JavaScript</mark
            ></p
        >
    </column>
</column>
