<column pad-="2 1" gap-="1">
    <column gap-="1">
        <p
            >WebTUI, a Modular CSS library that brings the beauty of Terminal
            UIs to the browser</p
        >
        <ul>
            <li>
                <strong>URL</strong>: <a
                    href="https://webtui.ironclad.sh"
                    target="_blank">webtui.ironclad.sh</a
                >
            </li>
            <li>
                <strong>GitHub</strong>: <a
                    href="https://github.com/IroncladDev/webtui"
                    target="_blank">github.com/IroncladDev/webtui</a
                >
            </li>
            <li>
                <strong>NPM</strong>: <a
                    href="https://www.npmjs.com/package/@webtui/css"
                    target="_blank">www.npmjs.com/package/@webtui/css</a
                >
            </li>
        </ul>
    </column>

    <strong><mark fg-="green-fg-dim">Current Status</mark></strong>

    <column pad-="2 0" gap-="1">
        <p
            >Today I'm actively maintaining WebTUI, which has roughly <mark
                fg-="yellow-fg">2.4K</mark
            > stars and hundreds of weekly downloads</p
        >
    </column>

    <strong><mark fg-="green-fg-dim">History</mark></strong>

    <column pad-="2 0" gap-="1">
        <p
            >I began work on WebTUI in <mark fg-="purple-fg">April 2025</mark>,
            inspired by using a combination of Neovim and HTMX. I released <mark
                fg-="orange-fg">v0.0.1</mark
            > on <mark fg-="purple-fg">April 12th, 2025</mark></p
        >
        <p
            >In less than two weeks, it reached the front page of Hacker News,
            racked up over <mark fg-="yellow-fg">1K github stars</mark>, and got
            roughly 300,000 views across different platforms</p
        >
        <p
            >Over the course of the next year, I continued to maintain WebTUI in
            my spare time</p
        >
    </column>

    <strong><mark fg-="green-fg-dim">Technologies Used</mark></strong>

    <column pad-="2 0" gap-="1">
        <p
            ><mark fg-="blue-fg" bg-="blue-bg">&#xe749; CSS</mark>, <mark
                fg-="orange-fg"
                bg-="orange-bg">&#xe83e; Astro</mark
            >, <mark fg-="blue-fg" bg-="blue-bg">&#xe8ca; TypeScript</mark></p
        >
    </column>
</column>
