<column pad-="2 1" gap-="1">
    <column gap-="1">
        <p
            >LLM Arena is a website that allows people to upload and compare LLM
            benchmarks side-by-side</p
        >
        <ul>
            <li>
                <strong>GitHub</strong>: <a
                    href="https://github.com/IroncladDev/llm-arena"
                    target="_blank">https://github.com/IroncladDev/llm-arena</a
                >
            </li>
        </ul>
    </column>

    <strong><mark fg-="green-fg-dim">Current Status</mark></strong>

    <column pad-="2 0" gap-="1">
        <p
            >I stopped maintaining the project in <mark fg-="purple-fg"
                >May 2024</mark
            >. I sold the domain <code>llmarena.ai</code> to someone else. The repository
            has been archived on <mark fg-="purple-fg">Feb 27, 2025</mark></p
        >
    </column>

    <strong><mark fg-="green-fg-dim">History</mark></strong>

    <column pad-="2 0" gap-="1">
        <p
            ><mark fg-="purple-fg">Dec 2023</mark> - <a
                href="https://x.com/amasad">Amjad Masad</a
            >, the CEO of Replit, reaches out to me and asks if I could build
            him a project to compare LLMs side-by-side</p
        >
        <p
            ><mark fg-="purple-fg">Feb 2024</mark> - I build the initial prototype,
            which included a system for contributors to upload LLM metrics and benchmarks
            and a UI to search for and compare different LLMs</p
        >
        <p
            >Over the course of the next few months, I add small tweaks and
            improvements</p
        >
        <p
            ><mark fg-="purple-fg">May 2024</mark> - I make my last commit and the
            project sits still for a while</p
        >
    </column>

    <strong><mark fg-="green-fg-dim">Technologies Used</mark></strong>

    <column pad-="2 0" gap-="1">
        <p
            ><mark fg-="foreground0" bg-="blue-bg">&#xef04; HTMX</mark>, <mark
                fg-="blue-fg"
                bg-="blue-bg">&#xe749; CSS</mark
            >, <mark fg-="blue-fg" bg-="blue-bg">&#xe8ca; TypeScript</mark>, <mark
                fg-="yellow-fg"
                bg-="yellow-bg">&#xe781; JavaScript</mark
            ></p
        >
    </column>
</column>
