<column pad-="2 1" gap-="1">
    <column gap-="1">
        <p>Face The Darkness is a platformer game I made in 2020</p>
        <ul>
            <li>
                <strong>URL</strong>: <a
                    href="https://ironcladdev.github.io/face-the-darkness/"
                    target="_blank"
                    >https://ironcladdev.github.io/face-the-darkness/</a
                >
            </li>
            <li>
                <strong>GitHub</strong>: <a
                    href="https://github.com/IroncladDev/face-the-darkness"
                    target="_blank"
                    >https://github.com/IroncladDev/face-the-darkness</a
                >
            </li>
        </ul>
    </column>

    <strong><mark fg-="green-fg-dim">Current Status</mark></strong>

    <column pad-="2 0" gap-="1">
        <p
            >I published the project to GitHub Pages and archived it on <mark
                fg-="purple-fg">Jun 22, 2026</mark
            ></p
        >
    </column>

    <strong><mark fg-="green-fg-dim">Technologies Used</mark></strong>

    <column pad-="2 0" gap-="1">
        <p><mark fg-="yellow-fg" bg-="yellow-bg">&#xe781; JavaScript</mark></p>
    </column>
</column>
