<column pad-="2 1" gap-="1">
    <column gap-="1">
        <p
            >AmjadGPT is a LangChain-powered AI assistant that acts like <a
                href="https://x.com/amasad"
                target="_blank">Amjad Masad</a
            >, the CEO of <a href="https://replit.com" target="_blank">Replit</a
            ></p
        >
        <ul>
            <li>
                <strong>GitHub</strong>: <a
                    href="https://github.com/IroncladDev/AmjadGPT"
                    target="_blank">github.com/IroncladDev/AmjadGPT</a
                >
            </li>
        </ul>
    </column>

    <strong><mark fg-="green-fg-dim">Current Status</mark></strong>

    <column pad-="2 0" gap-="1">
        <p
            ><mark fg-="purple-fg">Jan 2024</mark> - With the retirement of text-davinci-003
            and Replit Modelfarm, it was no longer profitable to run the project.
            The repository was archived on <mark fg-="purple-fg"
                >Jun 22, 2026</mark
            ></p
        >
    </column>

    <strong><mark fg-="green-fg-dim">History</mark></strong>

    <column pad-="2 0" gap-="1">
        <p
            ><mark fg-="purple-fg">Jan 2023</mark> - I use Langchain's python library
            to inject context into text-davinci-003 and create a basic chat with
            memory</p
        >
        <p
            ><mark fg-="purple-fg">Feb 2023</mark> - I use a python webserver and
            a flask frontend to create the first version of AmjadGPT</p
        >
        <p
            ><mark fg-="purple-fg">Jan 2024</mark> - OpenAI shut down text-davinci-003.
            I migrated the project to use Replit's Modelfarm API</p
        >
        <p
            ><mark fg-="purple-fg">Oct 2024</mark> - Replit shut down their Modelfarm
            feature, and AmjadGPT no longer worked</p
        >
    </column>

    <strong><mark fg-="green-fg-dim">Technologies Used</mark></strong>

    <column pad-="2 0" gap-="1">
        <p
            ><mark fg-="yellow-fg" bg-="yellow-bg">&#xe73c; Python</mark>, <mark
                fg-="blue-fg"
                bg-="blue-bg">&#xe8ca; TypeScript</mark
            >, <mark fg-="blue-fg" bg-="blue-bg">&#xe7ba; React</mark>, <mark
                fg-="foreground0"
                bg-="background2">&#xe83e; Next.js</mark
            ></p
        >
    </column>
</column>
