<column pad-="2 1" gap-="1">
    <column gap-="1">
        <p
            >Intercepter is a top-down shooter game I made for the Replit
            Creator Fund in August 2022</p
        >
        <ul>
            <li>
                <strong>URL</strong>: <a
                    href="https://ironcladdev.github.io/Intercepter/"
                    target="_blank"
                    >https://ironcladdev.github.io/Intercepter/</a
                >
            </li>
            <li>
                <strong>GitHub</strong>: <a
                    href="https://github.com/IroncladDev/Intercepter"
                    target="_blank"
                    >https://github.com/IroncladDev/Intercepter</a
                >
            </li>
        </ul>
    </column>

    <strong><mark fg-="green-fg-dim">Current Status</mark></strong>

    <column pad-="2 0" gap-="1">
        <p
            >I stopped maintaining the project after Aug, 2022. I published the
            game to github pages and archived the project on <mark
                fg-="purple-fg">Jun 22, 2026</mark
            ></p
        >
    </column>

    <strong><mark fg-="green-fg-dim">History</mark></strong>

    <column pad-="2 0" gap-="1">
        <p
            ><mark fg-="purple-fg">August 2022</mark> - Replit launched a community
            program called the Creator Fund where the top 50 creators of the month
            would get $500</p
        >
    </column>

    <strong><mark fg-="green-fg-dim">Technologies Used</mark></strong>

    <column pad-="2 0" gap-="1">
        <p><mark fg-="yellow-fg" bg-="yellow-bg">&#xe781; JavaScript</mark></p>
    </column>
</column>
