<column pad-="2 1" gap-="1">
    <column gap-="1">
        <p
            >TehcCringe is a open-source satirical tech news outlet that anyone
            can contribute to.</p
        >
        <ul>
            <li>
                <strong>URL</strong>: <a
                    href="https://tehccringe.com/"
                    target="_blank">https://tehccringe.com/</a
                >
            </li>
            <li>
                <strong>GitHub</strong>: <a
                    href="https://github.com/TehcCringe/TehcCringe"
                    target="_blank">github.com/TehcCringe/TehcCringe</a
                >
            </li>
        </ul>
    </column>

    <strong><mark fg-="green-fg-dim">Current Status</mark></strong>

    <column pad-="2 0" gap-="1">
        <p
            >The last commit was made on <mark fg-="purple-fg">April 2025</mark
            >. The repository was archived on <mark fg-="purple-fg"
                >Jun 23, 2026</mark
            >. The website is still up and available to view.</p
        >
    </column>

    <strong><mark fg-="green-fg-dim">History</mark></strong>

    <column pad-="2 0" gap-="1">
        <p
            ><mark fg-="purple-fg">Nov 2024</mark> - I come up with the idea of building
            an open source satirical tech news outlet, partially inspired by <a
                href="https://x.com/TheBabylonBee">The Babylon Bee</a
            ></p
        >
        <p
            ><mark fg-="purple-fg">Dec 2024</mark> - I write a CI script that publishes
            new articles to X and Bluesky</p
        >
        <p
            ><mark fg-="purple-fg">Jan 2025</mark> - Me and my friends publish a
            bunch of articles before coming to a halt</p
        >
    </column>

    <strong><mark fg-="green-fg-dim">Technologies Used</mark></strong>

    <column pad-="2 0" gap-="1">
        <p
            ><mark fg-="foreground0" bg-="background2">&#xe83e; Next.js</mark>, <mark
                fg-="blue-fg"
                bg-="blue-bg">&#xe8ca; TypeScript</mark
            >, <mark fg-="blue-fg" bg-="blue-bg">&#xe7ba; React</mark>, <mark
                fg-="blue-fg"
                bg-="blue-bg">󰮊 Zod</mark
            ></p
        >
    </column>
</column>
