<column pad-="2 1" gap-="1">
    <column gap-="1">
        <p
            >Orbitron Tower Defense III is a top-down pixel-art tower defense
            game I made in 2021. When I made it, I didn't know what git was, so
            it was by pure chance that I was able to recover it.</p
        >
        <ul>
            <li>
                <strong>URL</strong>: <a
                    href="https://ironcladdev.github.io/orbitron-3/"
                    target="_blank">https://ironcladdev.github.io/orbitron-3/</a
                >
            </li>
            <li>
                <strong>GitHub</strong>: <a
                    href="https://github.com/IroncladDev/orbitron-3/"
                    target="_blank"
                    >https://github.com/IroncladDev/orbitron-3/</a
                >
            </li>
        </ul>
    </column>

    <strong><mark fg-="green-fg-dim">Current Status</mark></strong>

    <column pad-="2 0" gap-="1">
        <p
            >I published the project to GitHub Pages and archived it on <mark
                fg-="purple-fg">Jun 22, 2026</mark
            ></p
        >
    </column>

    <strong><mark fg-="green-fg-dim">History</mark></strong>

    <column pad-="2 0" gap-="1">
        <p
            ><mark fg-="purple-fg">Spring 2021</mark> - I built this game for a small
            community-run programming competition on <a
                href="https://khanacademy.org">Khan Academy</a
            > called "Primavera"</p
        >
        <p
            ><mark fg-="purple-fg">2022</mark> - I port and publish the game to the
            Replit community</p
        >
    </column>

    <strong><mark fg-="green-fg-dim">Technologies Used</mark></strong>

    <column pad-="2 0" gap-="1">
        <p><mark fg-="yellow-fg" bg-="yellow-bg">&#xe781; JavaScript</mark></p>
    </column>
</column>
