---
import ShowcaseProject from '@/components/ShowcaseProject/index.astro'
---

<ShowcaseProject
    projectId="1"
    projectName="ironcladsh"
    projectCommand="ironclad.sh">
    <column pad-="2 1" gap-="1">
        <column gap-="1">
            <p
                >Over the years, I've remade and redesigned my personal website
                a number of times. You're looking at the latest iteration.</p
            >
            <ul>
                <li>
                    <strong>URL</strong>: <a
                        href="https://ironclad.sh"
                        target="_blank">ironclad.sh</a
                    >
                </li>
                <li>
                    <strong>GitHub</strong>: <a
                        href="https://github.com/IroncladDev/IroncladDev"
                        target="_blank">github.com/IroncladDev/IroncladDev</a
                    >
                </li>
            </ul>
        </column>

        <strong><mark fg-="green-fg-dim">History</mark></strong>

        <column pad-="2 0" gap-="1">
            <p
                ><mark fg-="purple-fg">Dec 2021</mark> - I'm 15 years old. My internet
                alias is "LeviathanProgramming". I buy the domain
                <mark>connerow.dev</mark> with my mom's credit card and published
                the first version of my personal website <a
                    href="https://web.archive.org/web/20211225102045/https://connerow.dev/"
                    target="_blank">(wayback machine)</a
                ></p
            >
            <p
                ><mark fg-="purple-fg">Feb 2022</mark> - I change my internet alias
                to "IroncladDev". I redesign my website in a poor attempt to become
                a freelancer <a
                    href="https://web.archive.org/web/20220215011739/https://www.connerow.dev/"
                    target="_blank">(wayback machine)</a
                ></p
            >
            <p
                ><mark fg-="purple-fg">March 2023</mark> - I redesign my website
                to use blue, metallic gradients and use a lot of fancy scrolling
                animations <a
                    href="https://web.archive.org/web/20230325110047/https://connerow.dev/"
                    target="_blank">(wayback machine)</a
                ></p
            >
            <p
                ><mark fg-="purple-fg">Feb 2025</mark> - I redesign my personal brand
                and adopt a minimalistic terminal aesthetic. I switch from the domain
                <mark fg-="orange-fg">connerow.dev</mark> to <mark
                    fg-="orange-fg">ironclad.sh</mark
                >
                <a
                    href="https://web.archive.org/web/20250216115308/https://ironclad.sh/"
                    target="_blank">(wayback machine)</a
                ></p
            >
            <p
                ><mark fg-="purple-fg">Aug 2025</mark> - I redesign my website to
                use my WebTUI library <a
                    href="https://web.archive.org/web/20250806/ironclad.sh"
                    target="_blank">(wayback machine)</a
                ></p
            >
            <p
                ><mark fg-="purple-fg">Jun 2026</mark> - I get hit by engineering
                layoffs and redesign my website to look like a hyprland+waybar setup</p
            >
        </column>

        <strong><mark fg-="green-fg-dim">Technologies Used</mark></strong>

        <column pad-="2 0" gap-="1">
            <p>
                <mark fg-="orange-fg" bg-="orange-bg">&#xe83e; Astro</mark>, <mark
                    fg-="blue-fg"
                    bg-="blue-bg">&#xe8ca; TypeScript</mark
                >, <mark fg-="blue-fg" bg-="blue-bg">&#xe749; CSS</mark>
            </p>
        </column>
    </column>
</ShowcaseProject>
