@import "./utils.css";

:root {
  /* Colors */
  --root: #14131e;
  --surface0: #1f1d2d;
  --surface1: #242336;
  --surface2: #353553;
  --surface3: #494764;
  --surface4: #555275;
  --accent0: #616649;
  --accent1: #7b8257;
  --accent2: #91c95e;
  --accent3: #bfd06d;
  --accent4: #e7ff5e;
  --foreground0: #c8d5f1;
  --foreground1: #949bb9;
  --foreground2: #747a9c;

  /* Spacing/Sizes */
  --max-content-width: 1000px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  font-family: "JetBrains Mono", serif;
  background-color: var(--root);
  color: var(--foreground0);
}

h1 {
  font-size: 64px;
}

main {
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
  scrollbar-color: var(--accent2) var(--surface2);
  scrollbar-width: thin;
}

section {
  height: 100vh;
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

section[snap] > div {
  max-width: var(--max-content-width);
}

.sticky {
  top: 0;
  position: sticky;
  overflow: hidden;
}

@keyframes move {
  to {
    transform: translateX(calc(-100% + 100vw));
  }
}

.sticky-item {
  height: 100vh;
  width: 300vw;
  display: flex;
  align-items: center;
  background-color: var(--surface0);

  /* Hook animation */
  will-change: transform;
  animation: linear move forwards;

  animation-timeline: --scroll;
  animation-range: contain;
  animation-duration: 1ms;
}

.sticky-item>h1 {
  text-align: center;
  flex-grow: 1;
}

#scroll-tl {
  view-timeline: --scroll block;
}
