@import "./style.css";

showcase-project {
  background: var(--surface0);
}

header {
  flex: none;
  display: flex;
  flex-direction: column;
  width: 100vw;
  scroll-snap-align: end;

  #header-content {
    display: flex;
    gap: 16px;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 64px 16px;
    min-height: 25vh;

    div {
      max-width: var(--max-reading-width);
      display: flex;
      flex-direction: column;
      gap: 16px;

      h1 {
        color: var(--accent);
      } 
    }
  }
}
