:root {
  /* Colors */
  --root: #14131e;
  --surface0: #1f1d2d;
  --surface1: #242336;
  --surface2: #353553;
  --surface3: #494764;
  --surface4: #555275;
  --accent-dim: #7e8b5a;
  --accent: #afc772;
  --foreground0: #c8d5f1;
  --foreground1: #949bb9;
  --foreground2: #747a9c;
  --blue-bg: #70b6db20;
  --link: #70b6db;
  --link-hover: #89dceb;

  /* Spacing/Sizes */
  --max-content-width: 1000px;
  --max-reading-width: 700px;
  --max-content-height: 800px;
  --font-size-text: 16px;
  --font-size-title: 64px;
  --font-size-heading: 36px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body,
html {
  font-family: "JetBrains Mono", Monaco, monospace;
  background-color: var(--root);
  color: var(--foreground0);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
  scrollbar-color: var(--accent-dim) transparent;
  scrollbar-width: thin;
}

section,
showcase-project {
  min-height: 100vh;
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &[snap] > div {
    max-width: var(--max-content-width);
  }
  &:is(showcase-project) {
    max-height: 100vh;
  }
}

p {
  font-size: var(--font-size-text);
  margin: 0;
  padding: 0;
  color: var(--foreground0);

  &[dim] {
    color: var(--foreground1);
  }

  strong{
    font-weight: 900;
  }
}

a {
  color: var(--link);
  transition: color 0.1s ease-in-out;
  background-color: var(--blue-bg);

  &:hover {
    color: var(--link-hover);
  }

  &:focus {
    outline: solid 2px var(--surface4);
  }

  &[_secondary] {
    color: var(--foreground2);
    background-color: transparent;
  }
}

ul {
  list-style: none;

  & li::before {
    content: "- ";
    color: var(--accent);
  }
}

nav {
  display: flex;
  justify-content: center;
  background: var(--surface0);

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    width: 100%;
    max-width: var(--max-reading-width);
  }
}

footer {
  scroll-snap-align: end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: var(--root);
  gap: 16px;
  padding: 16px;

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: var(--max-reading-width);
  }
}

hr {
  border: none;
  border-top: solid 1px var(--surface2);
}

@media (max-width: 768px) {
  section > div {
    padding: 16px;
  }

  :root {
    --font-size-title: 48px;
    --font-size-heading: 24px;
  }
}

/* Utils */

[snap] {
  scroll-snap-align: start end;
}

[_flex] {
  display: flex;

  &[_flex~="col"] {
    flex-direction: column;
  }

  &[_flex~="grow"] {
    flex-grow: 1;
  }

  &[_flex~="center"] {
    align-items: center;
    justify-content: center;
  }

  &[_flex~="no-basis"] {
    flex-basis: 0;
  }

  &[_flex~="justify-center"] {
    justify-content: center;
  }

  &[_flex~="align-center"] {
    align-items: center;
  }
}

[gap="4"] {
  gap: 4px;
}

[gap="8"] {
  gap: 8px;
}

[gap="16"] {
  gap: 16px;
}

[gap="32"] {
  gap: 32px;
}

/* Page View Transition */
@view-transition {
  navigation: auto;
}

::view-transition-group(root) {
  animation-duration: 0.25s;
}

@keyframes move-out {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    filter: brightness(1);
  }

  100% {
    clip-path: polygon(0 0, 0% 0, 0% 100%, 0 100%);
    filter: brightness(0.5);
  }
}

@keyframes move-in {
  0% {
    filter: brightness(0.5);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    translate: 0 -10%;
  }

  100% {
    filter: brightness(1);
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
    translate: 0 0;
  }
}

::view-transition-old(root) {
  animation: 0.25s ease-out both move-out;
}

::view-transition-new(root) {
  animation: 0.25s ease-out both move-in;
}
