[snap] {
  scroll-snap-align: center;
}

[flex] {
  display: flex;
}

[col] {
  flex-direction: column;
}

[row] {
  flex-direction: row;
}

[grow] {
  flex-grow: 1;
}

[center] {
  align-items: center;
  justify-content: center;
}

[align="start"] {
  align-items: flex-start;
}

[align="center"] {
  align-items: center;
}

[align="end"] {
  align-items: flex-end;
}

[justify="center"] {
  justify-content: center;
}

[justify="start"] {
  justify-content: flex-start;
}

[justify="end"] {
  justify-content: flex-end;
}

[gap="4"] {
  gap: 4px;
}

[gap="8"] {
  gap: 8px;
}

[gap="16"] {
  gap: 16px;
}
